{
  "blocks": {
    "fingerprint-1": {
      "createdAt": "2026-05-30T19:01:39.513044398Z",
      "disabled": false,
      "name": "fingerprint-1",
      "version": "latest"
    },
    "validate-1": {
      "createdAt": "2026-05-30T19:01:39.513044398Z",
      "disabled": false,
      "name": "validate-1",
      "version": "latest"
    }
  }
}
